# Dependencies (rekursif untuk subfolder seperti frontend/node_modules)
**/node_modules/
**/.astro/

# Build Outputs
**/dist/
**/.output/

# Python Cache & Env
**/__pycache__/
**/*.pyc
.venv/
venv/

# IDE & OS
.vscode/
.idea/
.DS_Store
